@import url("https://fonts.googleapis.com/css2?family=Ubuntu:&display=swap");
* {
    font-family: "Ubuntu", sans-serif;
}
.cursor-pointer {
    cursor: pointer;
}
header {
    min-height: 100vh;
    z-index: 1;
    * {
        z-index: 1;
    }
    .header-head {
        z-index: 2;
        position: relative;
        padding: 27px 0;
        border: 0.5px solid #00000040;
        .header-nav {
            display: none;
            transform: scale(0) translate(-100%, -100%);
            transition: 3s;
            &.activemax {
                margin-left: auto;
                justify-content: space-between;
                display: block;
                transform: scale(1) translate(0, 0);
            }
            &.activemin {
                // z-index: ;
                position: fixed;
                left: 0;
                top: 0;
                transform: scale(1) translate(0, 0);
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 50px auto;
                width: 100%;
                height: 100vh;
                z-index: 4;
                .dropdown {
                    margin: 0 !important;
                }
                li {
                    padding: 10px 0;
                }
            }
            li {
                &.active {
                    a {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 18px;
                        color: #fcd20c;
                        text-decoration: none;
                        border-bottom: 2px solid #fcd20c;
                    }
                }
                a {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 18px;
                    text-decoration: none;
                    color: #525252;
                }
            }
        }
        #menubtn {
            z-index: 9;
            * {
                z-index: 9;
            }
        }
    }
    .header-body {
        z-index: 3;
        .row {
            .text1 {
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                line-height: 37px;
                text-transform: uppercase;
            }
            .text2 {
                font-style: normal;
                font-weight: bold;
                font-size: 72px;
                line-height: 77px;
                text-transform: uppercase;
                color: #fcd315;
            }
            .position-relative {
                z-index: 3;
                * {
                    z-index: 3;
                }
            }
            img {
                &.play-icon {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}
main {
    #o-kompanii {
        .row {
            .text1 {
                font-style: normal;
                font-weight: bold;
                font-size: 36px;
                line-height: 41px;
                text-transform: uppercase;
                color: #252525;
            }
            .text2 {
                p {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 28px;
                    color: #000000;
                }
            }
        }
    }
    #partnyori {
        .text1 {
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 41px;
            text-transform: uppercase;
            color: #252525;
        }
    }
    #producsiya {
        .text1 {
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 41px;
            text-transform: uppercase;
            color: #252525;
        }
        .text2 {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            text-transform: uppercase;
            color: #4f4f4f;
        }
        .position-relative {
            background: #e9e9e9;
            padding-bottom: 20px;
            .position-absolute {
                bottom: 35px;
            }
        }
    }
    #news {
        .text1 {
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 41px;
            text-transform: uppercase;
            color: #252525;
        }
        .text2 {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            text-transform: uppercase;
            color: #000000;
            padding-top: 20px;
            padding-left: 23px;
        }
        .text3 {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 18px;
            color: #666666;
            padding-top: 8px;
            padding-left: 23px;
        }
        .text4 {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            color: #fcd20c;
            padding-top: 5px;
            padding-left: 23px;
            padding-bottom: 50px;
            cursor: pointer;
        }
        .card {
            background-color: #fff;
            border-radius: 10px;
        }
        .swiper {
            width: 100%;
            overflow: hidden;
            padding: 20px;
            color: #000;
            .swiper-slide {
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 23px;
                text-transform: uppercase;
                color: #000000;
            }
            background: #d8b710 !important;
        }
    }
}
footer {
    .footer-head {
        background: #525252;
        .text1 {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            text-transform: uppercase;
            color: #ffffff;
        }
        .text2 {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #ffffff;
        }
        .text3 {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: rgba(255, 255, 255, 0.5);
        }
        .text4 {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            color: #ffffff;
        }
    }
    .footer-body {
        background-color: #292929;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: rgba(255, 255, 255, 0.5);
    }
}
#body {
    user-select: none;
    &.ligth {
        header {
            background: #faf9f1;
            .header-nav {
                &.activemin {
                    background-color: #000000dd;
                    a {
                        color: #fff;
                    }
                    .dropdown {
                        ul {
                            background: #525252 !important;
                        }
                    }
                }
            }
        }
        main {
            #o-kompanii {
                background-color: #efefef;
            }
            #partnyori {
                background: #faf9f1;
            }
            #producsiya {
                background: #faf9f1;
            }
            #news {
                background-color: #e7e7e7;
            }
        }
    }
    &.dark {
        header {
            background: #292929 !important;
            .header-head {
                background: #faf9f140 !important;
                .header-nav {
                    &.activemin {
                        background-color: #ffffffdd;
                        a {
                            color: #fcd20c;
                        }
                        .dropdown {
                            ul {
                                background: #fff !important;
                            }
                        }
                    }
                    a {
                        color: #fff;
                    }
                    .dropdown {
                        ul {
                            background: #525252 !important;
                        }
                    }
                }
            }
            .header-body {
                .text1 {
                    color: #fff;
                }
            }
        }
        main {
            #o-kompanii {
                background: #525252 !important;
                .text1 {
                    color: #fff;
                }
                .text2 {
                    p {
                        color: #fff;
                    }
                }
            }
            #partnyori {
                background: #292929 !important;
                .text1 {
                    color: #fff;
                }
            }
            #producsiya {
                background: #525252 !important;
                .text1 {
                    color: #fff;
                }
            }
            #news {
                background: #525252 !important;
                .text1 {
                    color: #fff;
                }
            }
        }
    }
}
